{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "ignore": ["node_modules", "**/*.test.js"]
}
