.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
}

.bookmarklet {
  margin-left: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 0 auto;
  border-radius: 4px;
  min-width: 400px;
  min-height: 400px;
}
